{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestor personal | {% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block 'styles' %}{% endblock %}
  </head>
  <body>
    {% include 'layouts/menu.html' %}
    <main class="contenedor">
      {% block 'content' %} 
      
      {% endblock %}
    </main>
    
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"> </script>
    <footer class="footer">
      <p>Tienda de ropa</p>
    </footer>
    {% block 'scripts' %}{% endblock %}
  </body>
</html>
