:root {
    --primario: #660ef2;
    --secundario: #ffb100;
    --color-primario-dark: #89119D;
    --fuente:    'Roboto', sans-serif;
}
body{
    font-family: var(--fuente);
    font-size: 1.6rem;
}
.form-control, .btn{
    font-size: 1.6rem;
}

.header header {
   background-color: var(--primario)!important;
   position: relative;
}

.header .btn-login{
    color: white;
}

.header-login{
    position: absolute;
    right: 10px;
    color: white;
}

.header h1 {
    color: var(--secundario);
    font-weight: 900;
}
.header p {
    font-size: 2rem;
    margin: 0;
}

.heading {
    font-weight: 900;
    color: var(--primario);
}

.seccion {
    min-height: 1000px;
    padding: 2rem;
}

.table-head{
    background-color: var(--color-primario-dark);
    border: solid var(--color-primario-dark) 4px;
}

.th-info{
    cursor: pointer;
}

.table-tr:hover{
    font-size: 2rem;
}

.label{
    width: 15rem;
    font-weight: bold;
}

.table-tr{
    border: solid var(--color-primario-dark) 4px;
}
.table-tr th{
    padding: 0.5rem;
}
.table-head th{
    padding: 0.5rem;
}