
{% extends 'layouts/app.html' %} 
{% load static %}
{% block 'title' %} Editar contacto {% endblock %} 

{% block 'styles'%} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block 'content' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



    <a id="btn-add" class="btn btn-warning fw-bold my-5" href="#">Nuevo producto</a>

    <div class="row">
      <div class="col-md-6 order-md-2">

        <div id="edit-product" class="d-none">
          
          <h3 class="mb-4">Editar el producto</h3>
          <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="comprar__img">
              <img id="img" class="fondo" src="" alt="" />
            </div>
            
            <div class="mb-1 mt-4">
              <label class="label" for="img">Cambiar imagen:</label>
              <input class="input" id="file-img" type="file" name="image_path"  accept="image/*">
            </div>

            <div class="mb-1">
              <label class="label" for="name">Nombre:</label>
              <input class="input" id="name" type="text" placeholder="Nombre" required name="name">
            </div>

            <div class="mb-1">
              <label class="label" for="description">Descripción:</label>
              <input class="input" id="description" type="text" placeholder="Descripción" required name="description">
            </div>

            <div class="mb-1">
              <label class="label" for="price">Precio:</label>
              <input class="input" id="price" type="text" placeholder="$ Precio" required name="price">
            </div>

            <div class="d-flex justify-content-end mt-4">
              <button class="btn btn-primary" id="btn-update" type="submit">Guardar cambios</button>
            </div>

          </form>
      
        </div>

        <div id="new-product" class="d-none">
          <h3 class="mb-4">Nuevo el producto</h3>

          <form id="form-new" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class="d-flex justify-content-end mt-4">
              <button class="btn btn-primary" id="btn-save" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        
        <div>
          <h3 class="mb-4">Productos</h3>

          <table class="w-100" >
            <tr class="table-head">
              <th>
                ID
              </th>
              <th>
                Nombre
              </th>
              <th>
                Precio
              </th>
              <th></th>
            </tr>
            {% for product in products %}
            <tr class="table-tr">
              <th class="th-info" onClick="getId({{product.id}})">
                {{product.id}}
              </th>
              <th class="th-info" onClick="getId({{product.id}})">
                {{product.name}}
              </th>
              <th class="th-info" onClick="getId({{product.id}})">
                {{product.price}}
              </th>
              <th>
                <form action="{% url 'product_delete' id=product.id %}" method="POST">
                  {% csrf_token %}
                  <div class="btn btn-danger" onClick="deleteProduct(this)">Eliminar</div>
                </form>
              </th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 10;">
      <div id="toast" class="toast">
        <div class="toast-header bg-toast border-danger">
          <div class="me-auto"></div>
          <button class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body bg-toast border-danger">
          <p class="text-dark">Producto eliminado</p>
        </div>
      </div>
    </div>


{% endblock %}

{% block 'scripts' %} 
<script src="{% static 'scripts/index.js' %}"> </script>
{% endblock %}